/** Add css rules here for your application. */
html, body {
	background-color: lightgrey;
}

body {
	background: lightgrey;	
}

#page {
	width: 880px;
	margin: auto;
}

#top {
	width: 880px;
	background-color: #44657F;
	height: 70px;
}

#main {
	width: 820px;
	padding: 30px;
	background-color: white;
}

.link {
	cursor: pointer;
	color: #6CA1CC;
	text-decoration: underline;
}

.topGridCell {
	border-right: solid black 1px;
}

.tableCell {
	border: none;
	border-bottom: dotted 1px gray;
}